<div class="displayedExercise">
  <div class="card">
    <h5 class="card-header">ID: {{ displayedExercise.id }}</h5>
    <div class="card-body">
      <h5 class="card-title">
        Title: {{ displayedExercise.title | uppercase }}
      </h5>
      <p class="card-text">
        {{ displayedExercise.description }}
      </p>
      <h6 class="card-subtitle mb-2 text-muted">
        Progress: {{ displayedExercise.progress | percent }}
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        Date: {{ displayedExercise.date | date }}
      </h6>
    </div>
  </div>
</div>
