<div class="home-title">
  <h1>Welcome</h1>
  <h3>Have a look around and pick what fits you :)</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo praesentium
    suscipit dicta soluta porro. Vero aperiam alias eveniet iure mollitia! Odit
    ad repellendus sequi facilis blanditiis minima adipisci ut beatae dolores
    ipsam, ducimus veritatis animi alias natus quia magnam ullam. Placeat, earum
    expedita asperiores sed consequatur reprehenderit suscipit deleniti ab.
  </p>
  <div class="buttons">
    <button routerLink="/cars" class="btn btn-primary">Rental Cars</button>
    <button routerLink="/contact" class="btn btn-primary">Contact</button>
  </div>
</div>
