<h1>Angular class</h1>

<h4>First Angular class</h4>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, odio accusamus modi voluptatibus quisquam placeat
  deserunt autem, cupiditate expedita molestiae, reiciendis incidunt rem dicta a provident similique itaque unde cumque.
  Necessitatibus rerum dolore earum, numquam saepe debitis blanditiis eveniet quae accusantium quibusdam magnam autem
  doloremque ipsam cumque illum sit, odit ad provident nostrum nisi accusamus fuga! Ut illum qui a!
  Pariatur nobis eius, esse est repellendus quae iusto enim aliquid animi aliquam commodi, totam, laudantium deleniti
  debitis hic voluptatum atque velit quo. Minus pariatur nisi quia molestiae ad deserunt unde.
  Eaque iusto alias et. Omnis illum eos dicta voluptas quo. Repellat ducimus iste quos aliquid provident ipsam veritatis
  nihil, ad reprehenderit saepe voluptate nobis corrupti fugit iusto pariatur repellendus quas?
  Velit debitis aperiam veniam exercitationem rem repudiandae laudantium consequuntur aliquid sapiente eius, doloribus
  repellendus nostrum possimus soluta sed architecto ducimus fugit iste ex perferendis! Nisi optio voluptates saepe
  architecto sed?</p>

<!-- data binding -->

<!-- string interpolation {{}} -->
<h1>Data binding</h1>
<h3>String interp olation</h3>

<h3> CLASS : {{title}}</h3>

<h3>1 Year has {{oneYear}} days</h3>


<h2>User information: {{fullName()}}</h2>

<br>
<br>
<hr>


<h2>User information</h2>
<!-- doesnt print anything -->
<h2>{{userInformation}}</h2>

<h2> First Name: {{userInformation.name}}</h2>
<h2> First Name: {{userInformation.lastName}}</h2>
<h2> First Name: {{userInformation.age}}</h2>

<br>

<hr>

<!--  from the interface created at index.helper.ts to the -->
<!--  app.component.ts created the function and now printing here -->

<h3>{{personFullName({firstName, lastName, age})}}</h3>

<h3>{{personFullName(user1)}}</h3>

<br>
<hr>

<!-- propery binding -->
<h2 [innerText]='"ANGULAR WITH TSC"'></h2>
<h2 [innerText]="firstName"></h2>
<h2 [innerText]="personFullName({firstName, lastName, age})"></h2>

<br>
<hr>

<h3 [innerText]='logoTitle'></h3>
<img [src]='imgUrl' alt="" style="width: 300px;">

<br>
<!-- Event binding -->

<button type="button" (click)='changeClass()'>change class</button>
<h2>our class {{todaysClass}}</h2>

<br>

<button type="button" (click)='changeNumberOfClasses()'>press to know the number of classes</button>
<h2>number of classes: {{numberOfClasses}}</h2>

<br>

<input type="text" (keyup)='handleText($event)' name="" id="">
<span>{{inputValue}}</span>

<br>
<br>
<hr>



<app-movie-list [titleFromAppComponent]='movieListTitle'></app-movie-list>

<!-- square brackets selector -->
<!-- <div app-pets></div> -->

<!-- class selector -->
<!-- <div class="app-movie-list"></div> -->